body{
    background-color: #D9D9D9;
}

ion-header{
    background-color: #34495E;
}

.header-logo{
    margin-left: 5px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: row;
    margin-top: 25px;
    width: 50%;
}

.logo-img{
    margin-left: 10px;
    padding-bottom: 8px;
}

body ion-icon {
    color: #34495E;
}

.horario-box{
    margin-top: 6px;
    border-radius: 20px;
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 12px;
    padding-top: 4px;
}

.horario-text{
    padding-top: 10px;
}

.dia-box{
    margin-top: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #34495E;
    color: white;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inline-al-items-center{
    display: inline-flex;
    align-items: center;
}

.inline-al-items-center ion-icon{
    height: 20px;
    width: 20px;
}

.horario-text-bold{
    margin-right: 20px;
    padding-left: 10px;
}

ion-accordion-group{
    ion-accordion {
        .ion-accordion-toggle-icon {
            color: #D9D9D9;
        }
    }
}

.dia-box .clase-box{
    margin:0;
    padding:0;
}

.bg-azul-duoc{
    background-color: #34495e34;
    color: rgb(0, 0, 0);
}

.bg-blanco-duoc{
    background-color: white;
    color: rgb(0, 0, 0);
}

.text-clase-box{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}