<ion-header>
  <div class="header-logo">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="menu-inicio-alumno"></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/Duoc/logo-duoc-v2.png" alt="DuocUC" class="logo-img">
  </div>
</ion-header>

<ion-content>
  <body>
    <div align="center" class="horario-box">
      <ion-text class="inline-al-items-center">
        <h1 class="horario-text"><ion-icon name="calendar-outline"></ion-icon><b class="horario-text-bold">Horario</b></h1>
      </ion-text>
      <div align="center">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" color="#34495E">
              <ion-label>Lunes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box">
              <ion-card class="text-clase-box bg-azul-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, inventore nisi expedita eaque quaerat velit omnis laborum odio, dolorum accusantium harum voluptas iste, sint nam earum magni ipsa corporis at.
              </ion-card>
              <ion-card class="text-clase-box bg-blanco-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, inventore nisi expedita eaque quaerat velit omnis laborum odio, dolorum accusantium harum voluptas iste, sint nam earum magni ipsa corporis at.
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" color="#34495E">
              <ion-label>Martes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box">
              <ion-card class="text-clase-box bg-azul-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex qui ratione rem veniam quos. Eveniet maxime rerum nisi qui, deleniti quas repudiandae ipsa laborum dolores corporis obcaecati eos maiores soluta!
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" color="#34495E">
              <ion-label>Miercoles</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box">
              <ion-card class="text-clase-box bg-azul-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex qui ratione rem veniam quos. Eveniet maxime rerum nisi qui, deleniti quas repudiandae ipsa laborum dolores corporis obcaecati eos maiores soluta!
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" color="#34495E">
              <ion-label>Jueves</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box">
              <ion-card class="text-clase-box bg-azul-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex qui ratione rem veniam quos. Eveniet maxime rerum nisi qui, deleniti quas repudiandae ipsa laborum dolores corporis obcaecati eos maiores soluta!
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" color="#34495E">
              <ion-label>Viernes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box">
              <ion-card class="text-clase-box bg-azul-duoc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex qui ratione rem veniam quos. Eveniet maxime rerum nisi qui, deleniti quas repudiandae ipsa laborum dolores corporis obcaecati eos maiores soluta!
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
  </body>
</ion-content>
