<ion-header>
  <div class="header-logo">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="menu-inicio-alumno"></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/Duoc/logo-duoc-v2.png" alt="DuocUC" class="logo-img">
  </div>
</ion-header>

<ion-content>
  <body>
    <div align="center" class="horario-box">
      <ion-text class="inline-al-items-center">
        <h1><ion-icon name="calendar-outline" class="menu-icon"></ion-icon><b class="horario-text-bold">Horario</b>
        <h4>(Miercoles 7 de Septiembre 2022)</h4>
      </h1>
      </ion-text>
      <div align="center">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" style="background-color: #34495E;">
              <ion-label>Lunes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box bg-azul-duoc">
              ingle
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" class="dia-box" style="background-color: #34495E;">
              <ion-label>Martes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" class="clase-box bg-azul-duoc">
              ingle
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
  </body>
</ion-content>
