<ion-header>
  <div class="header-img-bg">
    <img class="header-img" src="../../assets/img/Duoc/lvc.jpg">
  </div>
</ion-header>

<ion-content>
  <body>
    <div align="center">
      <img src="../../assets/img/Duoc/logo-duoc-v2.png" alt="DuocUC" class="duoc-logo">
      <div class="reg-asis-box">
        <h4 class="reg-asis-text"><b>Registro de Asistencia</b></h4>
      </div>
      <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">
        <div class="inicio-sesion-box">
          <ion-item>
            <ion-label><ion-icon name="accessibility-outline"></ion-icon></ion-label>
            <ion-input formControlName="usrnme" type="text" id="username" placeholder="Usuario" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
            <ion-input formControlName="contrasenna" type="password" id="password" placeholder="Contrase&ntilde;a" required></ion-input>
          </ion-item>
          <br>
        </div>
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <ion-button shape="round" size="large" color="light" type="submit">Iniciar Sesion</ion-button>
          <mat-progress-bar mode="indeterminate" style="display: none;" id="progrBar"></mat-progress-bar>
        </div>
      </form>
      <div class="recuperar-contra-box">
        <h4 class="recuperar-contra-text">¿Olvidaste tu <a href="#">usuario</a> o <a href="#">contraseña</a>?</h4>
      </div>
    </div>
  </body>
</ion-content>

