<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="#34495E">
      <div align="center" class="div-username">
        <ion-icon name="person-circle" class="menu-icon"></ion-icon>
        <!-- <ion-title color="light" *ngFor="let usrnme of listData; let i = index;">{{usrnme}}</ion-title> -->
        <ion-title color="light">{{dato.usrnme}}</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none" (click)="rutearHacia('/horario')">
      <div class="inline-al-items-center">
        <ion-icon name="calendar-outline" class="menu-icon"></ion-icon>
        <ion-item>Horario</ion-item>
      </div>
    </ion-list>
    <ion-list (click)="rutearHacia('/asistencias')">
      <div class="inline-al-items-center">
        <ion-icon name="list-outline" class="menu-icon"></ion-icon>
        <ion-item>Asistencias</ion-item>
      </div>
    </ion-list>
    <ion-list lines="none">
      <div class="inline-al-items-center">
        <ion-icon name="help-circle-outline" class="menu-icon"></ion-icon>
        <ion-item>Ayuda</ion-item>
      </div>
    </ion-list>
    <ion-list (click)="rutearHacia('/rep-errores')">
      <div class="inline-al-items-center">
        <ion-icon name="bug-outline" class="menu-icon"></ion-icon>
        <ion-item>Reportar errores</ion-item>
      </div>
    </ion-list>
    <ion-list lines="none" (click)="rutearHacia('/login')">
      <div class="inline-al-items-center">
        <ion-icon name="exit-outline" class="menu-icon"></ion-icon>
        <ion-item>Cerrar Sesi&oacute;n</ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>