<!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="#34495E">
      <div align="center" class="div-username">
        <ion-icon name="person-circle" class="menu-icon"></ion-icon>
        <ion-title color="light">{{dato.usrnme}}</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none" [routerLink]="['/horario']">
      <div class="inline-al-items-center">
        <ion-icon name="calendar-outline" class="menu-icon"></ion-icon>
        <ion-item>Horario</ion-item>
      </div>
    </ion-list>
    <ion-list [routerLink]="['/asistencias']">
      <div class="inline-al-items-center">
        <ion-icon name="list-outline" class="menu-icon"></ion-icon>
        <ion-item>Asistencias</ion-item>
      </div>
    </ion-list>
    <ion-list lines="none">
      <div class="inline-al-items-center">
        <ion-icon name="help-circle-outline" class="menu-icon"></ion-icon>
        <ion-item>Ayuda</ion-item>
      </div>
    </ion-list>
    <ion-list [routerLink]="['/rep-errores']">
      <div class="inline-al-items-center">
        <ion-icon name="bug-outline" class="menu-icon"></ion-icon>
        <ion-item>Reportar errores</ion-item>
      </div>
    </ion-list>
    <ion-list lines="none" [routerLink]="['/login']">
      <div class="inline-al-items-center">
        <ion-icon name="exit-outline" class="menu-icon"></ion-icon>
        <ion-item>Cerrar Sesi&oacute;n</ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet> -->

<ion-router-outlet></ion-router-outlet>

<ion-header>
  <div class="header-logo">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <img src="../../assets/img/Duoc/logo-duoc-v2.png" alt="DuocUC" class="logo-img">
  </div>
</ion-header>

<ion-content>
  <body>
    <div>
      <ion-item class="user-box">
        <ion-icon name="person-circle" class="icono-usuario"></ion-icon>
        <ion-label class="label-usuario">
          <h2>{{dato.usrnme}}(nombre)</h2>
          <h4>12.345.678-9</h4>
          <p>Analista Programador Computacional</p>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item class="qr-box">
        <ion-row>
          <ion-col class="btn-cam-qr">
            <ion-label align="center">
              <a [routerLink]="['/menu-inicio-alumno']"><ion-icon name="qr-code-sharp" class="qr-icon"></ion-icon></a>
            </ion-label>
          </ion-col>
          <ion-col align="center" class="btn-escanear-qr">
            <a [routerLink]="['/menu-inicio-alumno']"><ion-button shape="round" size="large" color="light">Escanear QR</ion-button></a>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div align="center" class="horario-box">
      <ion-text class="text-horario">
        <h1><ion-icon name="calendar-outline" class="menu-icon"></ion-icon><b class="horario-text-bold">Horario</b>
        <h4>(Miercoles 7 de Septiembre 2022)</h4>
      </h1>
      </ion-text>
    </div>
  </body>
</ion-content>
