body{
    background-color: #D9D9D9;
}

ion-header{
    background-color: #34495E;
}

.header-logo{
    margin-left: 5px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: row;
    margin-top: 25px;
    width: 50%;
}

.logo-img{
    margin-left: 35px;
    padding-bottom: 8px;
}

.div-username{
    display: inline-flex;
    align-items: center;
}

ion-toolbar .menu-icon{
    color: white;
}

.menu-icon{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.inline-al-items-center{
    display: inline-flex;
    align-items: center;
}

.user-box{
    border-radius: 20px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.qr-box{
    border-radius: 20px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icono-usuario{
    width: 60px;
    height: 60px;
}

.label-usuario{
    margin-left: 15px;
}

body ion-icon {
    color: #34495E;
}

